<div class="row">
		<section class="col-md-6">
		<h2><a name="default"></a>Redis Default Security Settings</h2>
		<p class="lead">
		One of the biggest changes in Redis 3.2 version is how Redis's default security is 
		handled when running Redis server. 
		</p>
		</section>
		<section class="col-md-6">
		<div class="card">
				<section class="card-header bg-primary">
				<h4 class="card-title">Configuring Redis's Protected Mode</h4>
				</section>
				<section class="card-block">
				
				<p class="card-text lead">Manually with <code>redis-cli</code></p>
		  <code class="card-text">
127.0.0.1:6379> CONFIG SET protected-mode no
OK
		  </code>
		  <hr>
		  <p class="card-text lead">At startup in <em>redis.conf</em></p>
                </section>
		</div>
		</section>


</div>
