<h2>Pub/Sub Message Syntax</h2>
<div class="row">
    <section class="col-md-4">
        <p class="lead">
        Redis Pub/Sub messages are defined as 3 or 4 part <a href="http://redis.io/topics/protocol">RESP</a> 
        (REdis Serialization Protocol) array.
        RESP is the communication protocol that Redis client communicate with Redis server and is 
        used in other projects beside Redis. We see the raw RESP code if we use telnet and connect 
        directly to Redis.
	</p>
    </section>
    <section class="col-md-6">
      
    </section>
</div>
