{% extends 'base.html' %}

{% block slider %}
 <div class="btn-group pull-right">
  <a href="{{ url_for("show_topic", day="day-two", topic="lua-scripting") }}" 
      class="btn btn-secondary btn-default btn-sm"><i class="fa fa-play fa-rotate-180"></i></a>
  <a href="{{ url_for("show_topic", day="day-three", topic="latency" ) }}"
      class="btn btn-secondary btn-info btn-sm"><i class="fa fa-play"></i></a>

 </div>
{% endblock %}

{% block main %}
<h3>Focused Topics in Redis Day 3 - #9</h3>
<h1>Caching &amp; Keyspace Notifications</h1>
<div class="row">
    <section class="col-md-8">
      <p class="lead">
         Redis provides a number of Less Recently Used (LRU) algorithms in 
         addition to its standard time-based expiration functionality that
         are set on Redis keys.
      </p>
      <p class="lead">
         Supporting post-processing when a Redis key is ejected from the 
         Redis datastore, you can subscribe to specific events using
         special PUB/SUB mode in Redis. 
      </p>
    </section>
    <section class="col-md-4">
    <div class="card card-inverse card-warning">
     <div class="card-block">
       <h3 class="card-title">In this topic &hellip;</h3>
       <ul>
          <h4>Redis Cache</h4>
          <li><a href="#expire">Default Expiration</a></li>
          <li><a href="#lru-options">LRU Options</a></li>
          <li><a href="#lru-configuration">LRU Configuration</a></li>
          <h4>Keyspace Notifications</h4>
          <li><a href="#keyspace-notify">Overview</a></li>
          <li><a href="#keyspace-notify-options">Options</a></li>
          <h4>Use Cases</h4>
          <li><a href="#ldfs">Linked Data Fragments Server</a></li>
       </ul>
     </div>
    </div>
    </section>

</div>
<hr>
<a name="expire"></a>
{% include 'caching-keyspace-notifications/default-expiration.html' %}
<hr>
<a name="lru-options"></a>
{% include 'caching-keyspace-notifications/lru-options.html' %}
<hr>
<a name="lru-configuration"></a>
{% include 'caching-keyspace-notifications/lru-configuration.html' %}
<hr>
<a name="keyspace-notify"></a>
{% include 'caching-keyspace-notifications/keyspace-notify.html' %}
<hr>
<a name="keyspace-notify-options"></a>
{% include 'caching-keyspace-notifications/keyspace-notify-options.html' %}
<hr>
{% include 'master-slave-replication/ldfs.html' %}
{% endblock %}
