{% extends 'base.html' %}

{% block slider %}
 <div class="btn-group pull-right">
  <a href="{{ url_for("show_topic", day="day-three", topic="caching-keyspace-notifications") }}" 
      class="btn btn-secondary btn-default btn-sm"><i class="fa fa-play fa-rotate-180"></i></a>
  <a href="{{ url_for("show_topic", day="day-three", topic="related-redis") }}"
      class="btn btn-secondary btn-info btn-sm"><i class="fa fa-play"></i></a>
 </div>
{% endblock %}


{% block main %}
<h3>Focused Topics in Redis Day 3 - #10</h3>
<h1>Troubleshooting Redis Latency</h1>
<div class="row">

    <section class="col-md-4">
    <div class="card card-inverse card-warning">
     <div class="card-block">
       <h3 class="card-title">In this topic &hellip;</h3>
       <ul>
          <h4>Sources</h4>
          <li><a href="#network">Network</a></li>
          <li><a href="#memory">Memory</a></li>
          <li><a href="#">LRU Configuration</a></li>
          <h4>Tools</h4>
          <li><a href="#latency-doctor">Latency Doctor</a></li>
          <h4>Use Cases</h4>
          <li><a href="#ldfs">Linked Data Fragments Server</a></li>
       </ul>
     </div>
    </div>
    </section>
    <section class="col-md-8">
      <p class="lead">
        Latency
      </p>
    </section>

</div>
<hr>
<a id="ldfs"></a>
{% include 'latency/ldfs.html' %}
{% endblock %}
