<h2 class="text-muted">Exercise 1 - MONITOR mode</h2>
<p class="lead">
  A useful troubleshooting technique is to connect to your running Redis
  instance with <code>redis-cli</code> and issue the <span class="label label-default">MONITOR</span>
  command.
</p>
<div class="row">
    <section class="col-md-8">
    <code>
    <pre>

    </pre>
    </code>
    </section>
    <section class="col-md-4">
    <p>
        From the command-line with each of these Node.js clients installed and 
        working, we'll create a simple application and look at how the Node.js
        ORM constructs a Redis key schema.
    </p>
    </section>
</div>
