{% extends 'base.html' %}

{% block slider %}
 <div class="btn-group pull-right">
   <a href="{{ url_for("show_topic", day="day-one", topic="data-structures") }}" 
      class="btn btn-secondary btn-default btn-sm"><i class="fa fa-play fa-rotate-180"></i></a>
   <a href="{{ url_for("show_topic", day="day-one", topic="master-slave-replication") }}" 
      class="btn btn-secondary btn-info btn-sm"><i class="fa fa-play"></i></a>
 </div>
{% endblock %}

{% block main %}
 <h3>Focused Redis Topic Day 1 - #2</h3>
 <h1>Key Schemas and Object Relational Managers</h1>
 <div class="row">
  <section class="col-md-4">
    <div class="card card-inverse card-warning">
     <div class="card-block">
       <h3 class="card-title">In this topic &hellip;</h3>
       <ul>
          <h4>Key Schemas</h4>
          <li><a href="#relationship-words">Relationship Modeling</a></li>
          <li><a href="#delimiters">Delimiters</a></li>
          <h4>ORMs</h4>
          <li><a href="#node">Node.js ORMs</a></li>
          {#<li><a href="#python">Python-based ORMs</a></li>
          <li><a href="#ruby">Ruby-based ORMs</a></li>#}
          <h4>Exercises</h4>
          <li><a href="#E1">Using MONITOR mode</a></li>
          {#<h4>Use Cases</h4>
          <li><a href="#ldfs">Linked Data Fragments Server</a></li> #}
       </ul>
     </div>
    </div>
  </section>

  <section class="col-md-8">
   <p class="lead">
    Based on a <a href="http://redis.io/topics/data-types-intro">brief mention</a> in the 
    official Redis documentation on suggested rules about Redis keys, a consistent key 
    naming schema improves comprehensibility and maintainability of your Redis solution 
    while positioning the datastore for future growth. Redis itself does not have any 
    schema checking or validation functions although some basic validation can be done 
    through the use of the <span class="label label-default">EXISTS</span> and 
    <span class="label label-default">TYPE</span> 
    Redis commands. 
    </p>
   <h3>Relationship Modeling<a id="relationship-words"></a></h3>
   <p>A key schema should provide guidance for adding new Redis keys to an 
   existing Redis-based application. An effective Redis Key schema establishes a
   naming conventions relating keys together. These relationships loosely couple 
   data structures together onto which application and business logic can apply through 
   client code.</p>
   <h3>Delimiters <a id="delimiters"></a></h3>
   <p>The most commonly used delimiters between words used in Redis Keys and one seen 
    through-out Redis documentation and examples is a colon 
    <strong class="label label-primary"> : </strong>
    but any unicode character can be used with other choices for delimiters being a forward slash 
    <strong class="label label-primary"> / </strong> and period 
    <strong class="label label-primary"> . </strong>.
   </p>
     </section>
 </div>
 <hr>
 <a id="book"></a>
 {% include 'key-schemas-and-orm/book.html' %}
 <hr>
 <a id="node"></a>
 {% include 'key-schemas-and-orm/node.html' %}
 <a id="E1"></a>
 {% include 'key-schemas-and-orm/exercise-1.html' %}

 <hr>
 {#  <a id="python"></a>
  {% include 'key-schemas-and-orm/python.html' %} 
  
  <hr>
 <a id="ldfs"></a>
 {% include 'key-schemas-and-orm/ldfs.html' %} #}
{% endblock %}
