<div class="row">
  <section class='col-md-9'>
    <h4 class="card-title">Downloading and Using Geo Commands</h4>
      <p>With a running 3.2 Redis instance, we'll open a
      second terminal window and launch Redis-cli. We'll then add a couple of data
      points to the BayArea key with the <span class="label label-success">GEOADD</span>
      and then calculate the distance between San Francisco and San Jose with the
      <span class="label label-success">GEODIST</span>
      </p>
      <pre>
127.0.0.1:6379> GEOADD BayArea 121.8863 37.7833 "San Jose" 122.4167 37.7833 "San Francisco" 122.2708 37.8044 Oakland
127.0.0.1:6379> GEODIST BayArea "San Francisco" "San Jose"
"46624.876174299716"
127.0.0.1:6379> GEODIST BayArea "San Francisco" "San Jose" km
"46.624876174299715"
127.0.0.1:6379> GEODIST BayArea "San Francisco" "San Jose" mi
"28.971426904382987"
      </pre>
      <p>With the <span class="label label-success">GEORADIUS</span> and 
       <span class="label label-success">GEORADIUSBYMEMBER</span> returns the
      geospatial information that are within the borders of an area specified 
      with a central location and a maximum distance from the center.</p>
      <pre>
127.0.0.1:6379> GEORADIUS BayArea 121.9692 37.3544 100 mi
1) "San Jose"
2) "Oakland"
3) "San Francisco"
127.0.0.1:6379> GEORADIUS BayArea 121.9692 37.3544 30 mi
1) "San Jose"
      </pre>
    </div>
  </div>
  </section>
</div>

