<div class="row">
    <section class="col-md-4">
     <h3>Critical Commands for Master-Slave Replication</h3>
     <ul class="list-group">
      <li class="list-group-item list-group-item-success">
       <strong><a href="http://redis.io/commands/slaveof">SLAVEOF</a> <em>server</em> <em>port</em></strong>
      </li>
      <li class="list-group-item">
       <strong><a href="http://redis.io/commands/type">TYPE</a> <em>key</em></strong>
      </li>
      <li class="list-group-item list-group-item-success">
        <strong><a href="http://redis.io/commands/client-list">CLIENT LIST</a></strong>
      </li>
     </ul>
    </section>
    <section class="col-md-8">

    </section>
</div>

