<h2>SYNC, Partial Resynchronization &amp; Diskless Replication</h2> 
<div class="row">
  <section class="col-md-4">
  <p class="lead">
   <h3>Redis Replication</h3>
   Steps:
   <ol>
	<li>The master then starts background saving, and starts to buffer all new commands received that will modify the dataset.</li>
        <li>When the background saving is complete, the master transfers the database file to the slave, which saves it on disk, and then loads it into memory.
        <li> The master will then send to the slave all buffered commands. This is done as a stream of commands and is structured in the Redis.</li>
   </ol>
 
  </section>
  <section class="col-md-4">
   <h2>Partial Resynchronization</h2>
  <p>
Replication is non-blocking on both master and slave instances; a master can continue to respond to queries while slaves are 
        synchronizing, a slave can be configured to respond to queries with old data while synchronizing with the master
   </p>
   <p>If the link between the master and slave goes down, the old behavior of Redis is to do a 
   full synchronization with the slave when the connection is re-established. As of Redis 2.8
   experimental support was added with <strong>PSYNC</strong> command that will only do a partial
   synchronization with MASTER based on if a time threshold has been exceeded or not. If 
   time has been exceeded, a full <strong>SYNC</strong> is triggered between the master and
   slave.</p> 
  </section>
  <section class="col-md-4">
   <h2>Diskless replication</h2>
   <p>An experimental feature that sends the full RDB file to the slave without forking 
    the master and using the disk as an intermediate storage.
  </section>
</div>
