<h2>Dynomite
<a href="https://github.com/Netflix/dynomite">https://github.com/Netflix/dynomite</a>
</h2>
<div class="row">
    <section class="col-md-3">
    <img src="https://github.com/Netflix/dynomite/raw/dev/images/dynomite-logo.png?raw=true%20=150x150">
    </section>
    <section class="col-md-6">

    <p class="lead">Netflix sponsors 
     <a href="https://github.com/Netflix/dynomite">Dynomite</a>,
       is to be able to implement high availability and cross-datacenter 
       replication on storage engines that do not inherently provide that functionality. 
     </p>
    </section>
</div>
