{% extends 'base.html' %}

{% block slider %}
 <div class="btn-group pull-right">
  <a href="{{ url_for("show_topic", day="day-three", topic="latency") }}" 
      class="btn btn-secondary btn-default btn-sm"><i class="fa fa-play fa-rotate-180"></i></a>
  <a href="{{ url_for("home") }}"
      class="btn btn-secondary btn-info btn-sm"><i class="fa fa-home"></i></a>
 </div>
{% endblock %}


{% block main %}
<h3>Focused Topics in Redis Day 3 - #11</h3>
<h1>Related Technologies</h1>
<div class="row">
    <section class="col-md-8">
        <p class="lead">
            Redis-related Technologies like 
            Salvidore's own <a href="#discue">Discue</a> provide alternative 
            ways for implementing such things as cluster and messaging using Redis or
            Redis-related standards.
        </p>
    </section>

    <section class="col-md-4">
    <div class="card card-inverse card-warning">
     <div class="card-block">
       <h3 class="card-title">In this topic &hellip;</h3>
       <ul>
	  <li><a href="#twemproxy">Twemproxy</a></li>
	  <li><a href="#dynomite">Dynomite</a> </li>
          <li><a href="#discus">Discus</a></li>
       </ul>
     </div>
    </div>
    </section>

</div>
<hr>
<a id="twemproxy"></a>
{% include 'related-redis/twemproxy.html' %}
<hr>
<a id="dynomite"></a>
{% include 'related-redis/dynomite.html' %}
<hr>
<a id="disque"></a>
<h2>Disque <a href="https://github.com/antirez/disque">https://github.com/antirez/disque</a></h2>
<div class="row">
    <section class="col-md-5 col-md-offset-1">
     <p class="lead">Disque is a distributed message broker created 
      by Salvatore Sanfilippo, the creator of Redis. Disque is a message broker with 
      at-least-once and at-most-once delivery semantics.</p>
    </section>
</div>
{% endblock %}
