<h2>Easier Redis Cluster with <em>create-cluster</em> script</h2>
<div class="row">
    <section class="col-md-4">
        <p class="lead">Instead of manually setting up and running a Redis 
        cluster, you can instead use the <em>create-cluster</em> located in the 
        <code>redis/utils/create-cluster</code>.
        </p>
    </section>
    <section class="col-md-8">
    <p>Starting in the <em>create-cluster</em> directory, follow these
    steps to get a 6-node Redis Cluster with 3 masters and 3 slaves.</p>
    <ol class="lead">
        <li>Create a <code>config.sh</code> script:
        <pre>
#!/bin/bash
PORT=7000
TIMEOUT=2000
NODES=6
REPLICAS=1
        </pre>    
        <li>
    </ol>
    </section>
</div>
