{% extends 'base.html' %}

{% block slider %}
 <div class="btn-group pull-right">
  <a href="{{ url_for("show_topic", day="day-one", topic="master-slave-replication") }}" 
      class="btn btn-secondary btn-default btn-sm"><i class="fa fa-play fa-rotate-180"></i></a>
  <a href="{{ url_for("show_topic", day="day-two", topic="pubsub" ) }}"
      class="btn btn-secondary btn-info btn-sm"><span class="label label-pill label-default">Day 2</span>
    <i class="fa fa-play"></i> 
  </a>
 </div>
{% endblock %}

{% block main %}
<h3>Focused Topics in Redis Day 1 -  #4</h3>
<h1>Introduction to Redis Cluster</h1>
<div class="row">
    <section class="col-md-4">
    <div class="card card-inverse card-warning">
     <div class="card-block">
       <h3 class="card-title">In this topic &hellip;</h3>
       <ul>
          <h4>Background</h4>
          <li><a href="#partitioning">Partitioning</a></li> 
          <li><a href="#topology-protocol">Topology &amp; Protocol</a></li> 
          <li><a href="#six-node-redis-cluster">6 Node Redis Cluster</a></li>
          <h4>Cluster Startup</h4>
          <li><a href="#manual-creation">Manual Cluster Creation</a></li>
          <li><a href="#create-cluster">Create Cluster</a></li>
          <h4>Operating a Redis Cluster</h4>
          <li><a href="#redis-cli">Redis CLI</a></li>
          <li><a href="#failover">Failover</a></li>
          <li><a href="#resharding">Resharding</a></li>
          <h4>Use Cases</h4>
          <li><a href="#ldfs">Linked Data Fragments Server</a></li>
       </ul>
     </div>
    </div>
    </section>
    <section class="col-md-7">
        <p class="lead">
            Redis Cluster provides one method of running a Redis installation where
            data is sharded</a> across multiple Redis
            instances while providing a degree of availability for continuing operations
            in the event of partial node failure or communication failure.
        </p>
        <p class="lead">
            This topics starts with an overview of a minimal Redis cluster with an 
            demonstration of the composite hashing approach used by Redis 
        </p>
    </section>
</div>
<a id="partitioning"></a>
{% include 'intro-redis-cluster/partitioning.html' %}
<hr>
<a id="topology-protocol"></a>
{% include 'intro-redis-cluster/topology-protocol.html' %}
<hr>
<a id="six-node-redis-cluster"></a>
{% include 'intro-redis-cluster/six-node-redis-cluster.html' %}
<hr>
<a id="manual-creation"></a>
{% include 'intro-redis-cluster/manual-creation.html' %}
<hr>
<a id="create-cluster"></a>
{% include 'intro-redis-cluster/create-cluster-script.html' %}
<hr>
<a id="redis-cli"></a>
{% include 'intro-redis-cluster/redis-cli.html' %}
<hr>
<a id="failover"></a>
{% include 'intro-redis-cluster/failover.html' %}
<hr>
<a id="resharding"></a>
{% include 'intro-redis-cluster/resharding.html' %}
<hr>
<a id="ldfs"></a>
{% include 'intro-redis-cluster/ldfs.html' %}
{% endblock %}
