<h2>Configuring <code>sentinel.conf</code></h2>
<div class="row">
    <section class="col-md-4">
        <div class="card">
	    <div class="card-heading bg-primary text-xs-center">
               Notes about the <strong>quorum</strong> setting

            </div>
            <div class="card-block">
	        <p class="card-text">
                   In the <code>sentinel.conf</code> file, the <strong>sentinel monitor</strong>
                   configuration directive has a <em>quorum</em> setting.
                </p>
            </div>
	</div>
    </section>
</div>
