{% extends 'base.html' %}

{% block slider %}
 <div class="btn-group pull-right">
  <a href="{{ url_for("show_topic", day="day-two", topic="pubsub") }}" 
      class="btn btn-secondary btn-default btn-sm"><i class="fa fa-play fa-rotate-180"></i></a>
  <a href="{{ url_for("show_topic", day="day-two", topic="security" ) }}"
      class="btn btn-secondary btn-info btn-sm"><i class="fa fa-play"></i></a>
 </div>
{% endblock %}

{% block main %}
<h3>Focused Topics in Redis Day 2 - #6</h3>
<h1>High Availability with Redis Sentinel</h1>
<div class="row">
    <section class="col-md-4">
    <div class="card card-inverse card-warning">
     <div class="card-block">
       <h3 class="card-title">In this topic &hellip;</h3>
       <ul>
          <h4>Sentinel Commands</h4>
          <li><a href="#commands">Commands</a></li>
          <h4>Configuration</h4>
          <li><a href="#keyspace-notify">Overview</a></li>
          <li><a href="#keyspace-notify-options">Options</a></li>
          <h4>Use Cases</h4>
          <li><a href="#ldfs">Linked Data Fragments Server</a></li>
       </ul>
     </div>
    </div>
    </section>

</div>
<hr>
{% include 'master-slave-replication/ldfs.html' %}
{% endblock %}
