{% extends 'base.html' %}

{% block slider %}
 <div class="btn-group pull-right">
  <a href="{{ url_for("show_topic", day="day-two", topic="pubsub") }}" 
      class="btn btn-secondary btn-default btn-sm"><i class="fa fa-play fa-rotate-180"></i></a>
  <a href="{{ url_for("show_topic", day="day-two", topic="security" ) }}"
      class="btn btn-secondary btn-info btn-sm"><i class="fa fa-play"></i></a>
 </div>
{% endblock %}

{% block main %}
<h3>Focused Topics in Redis Day 2 - #6</h3>
<h1>High Availability with Redis Sentinel</h1>
<div class="row">
    <section class="col-md-4">
    <div class="card card-inverse card-warning">
     <div class="card-block">
       <h3 class="card-title">In this topic &hellip;</h3>
       <ul>
          <h4>Sentinel Overview</h4>
	  <li><a href="#configuration">Configuration</a></li>
	  <li><a href="#startup">Startup</a></li>
          <li><a href="#commands">Commands</a></li>
	  <h4>Sentinel Operations</h4>
	  <li><a href="#notifying">Notifying</a></li>
          <li><a href="#failover">Automatic failover</a></li>
          <li><a href="#config-provider">Configuration Provider</a></li>
          <h4>Use Cases</h4>
          <li><a href="#ldfs">Linked Data Fragments Server</a></li>
       </ul>
     </div>
    </div>
    </section>
    <section class="col-md-6">
<p class="lead">
 From the Redis Sentinel documentation, Redis Sentinel manages Redis instances through four main ways:
</p>
 <ul class="lead">
  <li><strong>Monitors</strong> running Redis masters and slaves</li>
  <li><strong>Notifies</strong> system administrators or monitoring software of problems with Redis instances</li>
  <li><strong>Automatic failover</strong> by promoting running slaves to master if a master instance is 
  experiencing problems</li>
  <li><strong>Configuration provider</strong> for clients to connect and discover the address for a given
   Redis master.</li>  
 </ul>
</div>
<hr>
<a id="configuration"></a>
{% include 'ha-redis-sentinel/configuration.html' %}
<hr>
<a id="startup"></a>
{% include 'ha-redis-sentinel/startup.html' %}
<hr>
{#<a id="monitoring"></a>
{% include 'ha-redis-sentinel/monitoring.html' %}
<hr>#}
<a id="notifying"></a>
{% include 'ha-redis-sentinel/notifying.html' %}
<hr>
<a id="failover"></a>
{% include 'ha-redis-sentinel/failover.html' %}
<hr>
<a id="config-provider"></a>
{% include 'ha-redis-sentinel/config-provider.html' %}
<hr>
{% include 'ha-redis-sentinel/ldfs.html' %}
{% endblock %}
