<h2>Redis Sentinel Startup</h2>
<div class="row">
    <div class="col-md-4">
    <p class="lead">Running Redis Sentinel can be accomplished either with the <code>redis-sentinel</code> binary or
    by passing the <strong>--sentinel</strong> parameter when running <code>redis-server</code>. Both
    options require a <code>sentinel.conf</code> file.</p>
    <p class="lead">Redis Sentinel requires an open TCP port 26279</p>
    <pre>


    </pre>
    </div>
    <div class="col-md-8">
     <img src="{{ url_for('static', filename="img/sentinel.png") }}">

    </div>
</div>

