{% extends 'base.html' %}

{% block main %}
<h2>March 11<sup>th</sup></h2>
<h1>Focused Topics on Redis: Day 3</h1>
<h3>Morning</h3>
<ul>
    <li><a href="{{ url_for("show_topic", day="day-three", topic="caching-keyspace-notifications") }}">
         Caching and Keyspace Notifications</a>
    <li>
	<a href="{{ url_for("show_topic", day="day-three", topic="latency") }}">Trouble-shooting Redis Latency</a>
    </li>
    </ul>
<h3>Afternoon</h3>
<ul>
    <li>
        <a href="{{ url_for("show_topic", day="day-three", topic="related-messenging") }}">Related Messaging Technologies</a>
    </li>
    <li>

    </li>
</ul>
{% endblock %}
